<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        
        <menuitem id="menu_streamline_ame_reporting_custom" name="Custom Reports" parent="base.menu_reporting" sequence="0"/>
        
        <menuitem icon="STOCK_PRINT" action="action_streamline_ame_wizard_report_invoice_summary"
                id="menu_action_streamline_ame_wizard_report_invoice_summary" parent="menu_streamline_ame_reporting_custom" sequence="1" />
                
        <menuitem icon="STOCK_PRINT" action="action_streamline_ame_report_wizard_stock_report"
                id="menu_action_streamline_ame_report_wizard_stock_report" parent="menu_streamline_ame_reporting_custom" sequence="2" />
                
       <menuitem icon="STOCK_PRINT" action="action_streamline_ame_report_wizard_product_aging"
                id="menu_action_streamline_ame_report_wizard_product_aging" parent="menu_streamline_ame_reporting_custom" sequence="3" />
       
       <menuitem icon="STOCK_PRINT" action="action_streamline_ame_report_wizard_item_consumption_by_site"
                id="menu_action_streamline_ame_report_wizard_item_consumption_by_site" parent="menu_streamline_ame_reporting_custom" sequence="4" />
                
       <menuitem icon="STOCK_PRINT" action="action_streamline_ame_report_wizard_ordered_vs_delivery_qty"
                id="menu_action_streamline_ame_report_wizard_ordered_vs_delivery_qty" parent="menu_streamline_ame_reporting_custom" sequence="5" />         
                
       <menuitem icon="STOCK_PRINT" action="action_streamline_ame_report_wizard_inventory_listing"
                id="menu_action_streamline_ame_report_wizard_inventory_listing" parent="menu_streamline_ame_reporting_custom" sequence="6" />         
        
        <report
            id="streamline_ame_report_invoice_summary_id"
            string="Invoices Summary"
            model="account.invoice"
            report_type="qweb-pdf"
            name="streamline_ame_modules.report_streamline_ame_invoice_summary"
            file="Invoice_Summary"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_invoice_summary_xls_id"
            string="Invoices Summary"
            model="account.invoice"
            report_type="xls"
            name="report_streamline_ame_invoice_summary_xls"
            file="Invoice_Summary"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_stock_report_id"
            string="Stock Report"
            model="account.invoice"
            report_type="qweb-pdf"
            name="streamline_ame_modules.report_streamline_ame_stock_report"
            file="Stock_Report"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_stock_report_xls_id"
            string="Stock Report"
            model="account.invoice"
            report_type="xls"
            name="report_streamline_ame_stock_report_xls"
            file="Stock_Report"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_product_aging_id"
            string="Product Aging"
            model="stock.picking"
            report_type="qweb-pdf"
            name="streamline_ame_modules.report_streamline_ame_product_aging"
            file="Product_Aging"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_item_consumption_by_site"
            string="Item Consumption by Site"
            model="stock.picking"
            report_type="qweb-pdf"
            name="streamline_ame_modules.report_streamline_ame_item_consumption_by_site"
            file="Item_Consumption_by_Site"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_ordered_vs_delivery_qty"
            string="Ordered Qty vs Delivery Qty"
            model="stock.picking"
            report_type="qweb-pdf"
            name="streamline_ame_modules.report_streamline_ame_ordered_vs_delivery_qty"
            file="Ordered_Qty_vs_Delivery_Qty"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_ordered_vs_delivery_qty_xls"
            string="Ordered Qty vs Delivery Qty"
            model="stock.picking"
            report_type="xls"
            name="report_streamline_ame_ordered_vs_delivery_qty_xls"
            file="Ordered_Qty_vs_Delivery_Qty"
            menu="False"
         />
         
         <report
            id="streamline_ame_report_inventory_listing"
            string="Inventory Listings"
            model="stock.picking"
            report_type="qweb-pdf"
            name="streamline_ame_modules.report_streamline_ame_inventory_listing"
            file="Inventory_Listings"
            menu="False"
         />
         
         <report 
            string="Purchase Order" 
            id="purchase.action_report_purchase_order" 
            model="purchase.order" 
            report_type="qweb-pdf"
            name="streamline_ame_modules.report_purchase_order" 
            file="Purchase_Order" 
        />
        
        <report 
            id="report_sale_order_2"
            string="Quotation to Customer 2 "
            model="sale.order" 
            report_type="qweb-pdf"
            file="report_saleorder2" 
            name="streamline_ame_modules.report_saleorder2" 
        />
        
    </data>
</openerp>
